*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
src/main/scala/src.main.scala.fabricator/Main.scala
src/main/scala/src.main.scala.fabricator/TestCode.sc
src/main/scala/fabricator/Main$.java
src/main/scala/fabricator/TestCode.sc
test-output/*
.idea/
project/project/