language: scala
script: sbt clean coverage test
after_success: sbt coveralls
env:
  global:
  - secure: GhPbAqIwIiCWRdPxza/GNQOxgreU8ZqRisVVLFRpoN9jkP8vgA49FHaurswq2jXP4S4jY9ZaCdAyUXxLduWfTWOzG1IC8RtjcvRUTsGpZpDr2GhFRP1xlILahvdiftLPKAs3dRZ9+aPmN76e+NQdR28IfdeOa4iqPJuXpHbwAyI=
  - secure: dR7ni7qFccHo7XfXj5CDR/y8umMFnTyxjhUDp3nBL3JbR5HOREu9+MkooFylyPYNaUWn4SPc+XeffVWPoBPC61X1wnHfzY9va4ESvelkIO61knZ0unSRdxCHTCBjCXtdBteU96n80aXgaicC7IKq1H36NgxWB3ZKpT2d69YtDs0=
  - secure: Cu58R3q70ZSH26yetm1KmQgQBgTEkXKjVdK678gVaoFbZ+vrcfS7uY5IIQtBpJRxDM6fUCly6iWqRBQuvIOkKgAznXdk5eYlIzsn17NnU3kUAXo+T6747eR4f6C9sDut7o3OrbkhmMaO6nn2X64ekBdL2PBDKPpDqnJOozHwBRY=
  - secure: ShAvMy2DR0QSNeMuJ0kq4VXrHvBqnWLYVg3IIYeNxr2ENC47ghLNyPU9EUgKM7YcNNzjqOwInEPNnNoNJF+CrQPZZmp6Q16mzA+zND2jiZVwkMaW2mYfVFQzTBKUXhnHhiYOaPd+FvYawPzCLXQ2AA0BfF+hOZTFVdHpY2SBUcw=
  - secure: WfHXClQceC5kUmMJWhglcD7tLF5BjLlqyMJeOO8wbdCs3s9OZYBaw1R+hdye34NjIVWnt4PA68xW4fDtXSCfQndNCOVanx3v+4gq3i/iPcuXv1oA5faY4p8P/8nSPbSWbsGOgX/n7OTxwQzCP9DeN1RXN+kS7R7ZKXfbRaC8X6E=
branches:
  only:
    - master
    - publish
